<div class="container-contact">
  <div>
    <h1>Caroline Frössling</h1>
    <p><strong>Phone Number:</strong> 073-310 20 83</p>
    <p><strong>E-mail:</strong> caroline.f@hotmail.se</p>
    <p><strong>Instagram:</strong> carolinefrossling_</p>
  </div>
  <img
    src="/portrait-caroline.jpg"
    alt="A black and white portrait of Caroline Frössling."
    width="300"
  />
</div>