<div class="hero">
  <div class="hero-body">
    <h1>Create New Project</h1>
    {{#if errorMessages.length}}
      <p>Could not create the project because:</p>
      <ul>
        {{#each errorMessages}}
          <li>{{this}}</li>
        {{/each}}
      </ul>
    {{/if}}
    <div class="container-forms">
      <form action="/create-project" method="post">
        <div class="form-group">
          <label class="form-label">Enter information about your project:</label>
          <input
            class="form-input"
            type="text"
            name="title"
            placeholder="title"
            value="{{title}}"
          />
        </div>
        <div class="form-group">
          <input
            class="form-input"
            type="text"
            name="description"
            placeholder="description"
            value="{{description}}"
          />
        </div>
        <input class="bg-dark" type="submit" value="Create" />
      </form>
    </div>
  </div>
</div>